body {
  font-family: 'Roboto', sans-serif;
}

/* prettier-ignore */
h1, h2, h3, h4, h5, h6
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 300;
}

.cover {
  height: 150px;
}

.cover + .cover {
  margin-left: 15px;
}
